:root {
    --dark-bg: #000203;
    --bluesmoke: #213a49;
    --bluetext: #96d9db;
    font-size: 18px;
}

body {
    margin: 0;
}

#root {
    background-color: var(--bluesmoke);
    color: var(--bluetext);
}